# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# qtcreator user settings
*.pro.user

# vim swp
*.swp

# doc dir
script_doc
doc
